[submodule ".newcontinent-team/1_template/pure"]
	path = .newcontinent-team/1_template/pure
	url = https://github.com/tapvanvn/pure.git
[submodule ".newcontinent-team/1_template/nct"]
	path = .newcontinent-team/1_template/nct
	url = https://github.com/tapvanvn/nctjs.git
